body{
  background-color: black;
}

a{
  color: burlywood;
}

.header{
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.maintxt{
  margin-left: 10px;
  color: white;
}

.twl{
  text-decoration: none;
}

.tiamw{
  font-family: 'Courier New', Courier, monospace;
}

